---
import { Icon } from "astro-icon/components";
---

<ul class="menu max-sm:min-h-full w-80 p-4 md:p-1 md:w-max md:menu-horizontal bg-base-100 border border-base-content/30 md:rounded-box md:justify-center z-10">
    <li><a href="/"><Icon name="tabler:home" /> Accueil</a></li>
    <li><a href="/"><Icon name="tabler:book-2" /> Les Cours</a></li>
    <li><a href="/"><Icon name="tabler:clock" /> Volume Horaire</a></li>
    <li><a href="/"><Icon name="tabler:bed-flat" /> L'internat</a></li>
    <li><a href="/etudiants"><Icon name="tabler:flower" /> Les Étudiants</a></li>
</ul>