---
---

<div class="bg-primary-content">
    <h1 class="text-xl text-center font-bold" >Des partenaires d'exellence</h1>
    <p class="text-center">Je répète excellence 2 fois, c'est pas fou ça</p>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-8 place-items-center">
        <span>Logo 1</span>
        <span>Logo 2</span>
        <span>Logo 3</span>
        <span>Logo 4</span>
    </div>
</div>