---
import Head from "./Head.astro";
import "../assets/app.css";
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html data-theme="dark">
<html lang="fr">
  <Head />
  <body class="w-screen">
    <Navbar />
    <main class="py-20">
      <slot />
    </main>
  </body>
</html>